@page "{id:int}"
@model MilkCollectionSystem.Pages.EditFarmerModel

<h2 class="mb-3">✏ Edit Farmer</h2>

<form method="post">

    <input type="hidden" asp-for="Farmer.Id" />

    <div class="mb-3">
        <label class="form-label">Name</label>
        <input asp-for="Farmer.Name" class="form-control" />
        <span asp-validation-for="Farmer.Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Phone</label>
        <input asp-for="Farmer.Phone" class="form-control" />
        <span asp-validation-for="Farmer.Phone" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        Save Changes
    </button>

    <a asp-page="/Farmers" class="btn btn-secondary">
        Cancel
    </a>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}