@page
@model MilkCollectionSystem.Pages.MilkCollectionModel

<h2>🥛 Milk Collection</h2>

<form method="post">

    <div class="mb-3">
        <label class="form-label">Select Farmer</label>

        <select asp-for="FarmerId"
                asp-items="Model.FarmersList"
                class="form-control">

            <option value="">-- Select Farmer --</option>

        </select>

        <span asp-validation-for="FarmerId"
              class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label class="form-label">Litres</label>

        <input asp-for="Litres"
               type="number"
               step="0.1"
               class="form-control" />

        <span asp-validation-for="Litres"
              class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">
        Record Milk
    </button>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}